priority -20

snippet date "Print the date"
`date +%Y/%m/%d`$0
endsnippet

# Requires the lorem perl library
snippet lorem "Lorem 1 sentence"
`lorem -s 1`
endsnippet

snippet llorem "Lorem 1 paragraph"
`lorem -p 1`
endsnippet

snippet lllorem "Lorem 3 paragraphs"
`lorem -p 3`
endsnippet
